{% extends "museum/index.html"%}

{% block text %}
    <h1> About: </h1>
    <p>Buenas! Antes de nada gracias por acceder a esta humilde pagina.</p>
    
    <p> Esta sencilla página es la realizacion de un simple portal en el que se almacena informacion de museos a partir de: PONER LA FUENTE. En esta web podemos acceder con nuestro usuario para agregar nuestros museos favoritos a nuestra pagina personal. Además los museos con más likes se mostraran en la pagina principal, por lo que mas gente los vera. </p>
    
    <p> Mi nombre es Juan Ureña García-Gasco, actualmente estudio un Doble Grado en Ing. en Telecomunicacion e Ing. Aeroespacial. Además estoy realizando mis prácticas para Accenture, realizando un modelo DEVOPS para lenguaje python en el BBVA. </p>
    
    <p> Para cualquier duda pueden contactar conmigo a traves del email: j.urenag@alumnos.urjc.es 
    </p>
{% endblock %}
