<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {% load static %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="Aaron Ganschow" />
	<meta name="description" content="A simple blog interface for not so simple blogs." />
    <title>
      Museos Madrid
    </title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
    <link rel="shortcut icon" type="image/ico"" href="{% static 'images/favicon.ico' %}"/>
    </head>
  <body>
    <div class="wrapper">
      <div class="container">
      <br class="clear" />
        <div id="searchBar">
          <div class="content">
            {% if authenticated %}
                <form action="/logout" method="get">
				    <input type="text" name="user" value={{name}} readonly>
				    <input type="submit" value=EXIT onclick="javascript:alert('Esta cerrando sesión');" >
                </form>
			{% else %}
			    <form action="/login" method="post">
				    <input type="text" name="user" placeholder="Usuario" required>
				    <input type="password" name="password" placeholder="Contraseña" required>
				    <input type="submit" value="Log In">
			    </form>
			 {% endif %}
		  </div>
		</div>
	    {% load static %}
        <div class="icon">
          <img src="{% static 'images/banner.jpg'%}" width="200" height="160"
          alt="My Banner" />
        </div>
        <div id="title">
          <h1>
            Museos de la Comunidad de Madrid
          </h1>
          <h2>
            Guarda tus museos preferidos
          </h2>
        </div>
        <div id="navigation">
          <ul>
            {% if not inicio %}
                <li>
                    <a href="/">Inicio</a>
                </li> 
            {% endif %}	  
            <li>
              <a href="/museos">Todos</a>
            </li>
            {% if authenticated %}
                <li>
                <a href="/{{name}}">Mi página</a>
                </li>
            {% endif %}
            {% if authenticated %}
                <li>
                <a href="/{{name}}/json">Mi JSON</a>
                </li>
            {% endif %}
            <li>
              <a href="/about" >About</a>            </li>
          </ul>
        </div>
        <br class="clear" />
        <div id="body">
          <div class="sidebar">
            <h3>Users</h3>
			<div class="content">
				<ul class="links">
				{% for page in pages %} 
				    {% if  page.user.username != "root" %}
				        <li><a href="/{{page.user.username}}"> {{page.page}}</a></li>
				    {% endif %}
				{% endfor %}
				</ul>
			</div>
			<br />
			<br />
			<br />
			<h3>Contact</h3>
			<div class="content">
			<form name="eMailer">
			  <label>
				<span>Email*:</span>
				  <input type="email" placeholder="tuemail@servidor.com" name="email" id="email" required>
			  </label>
				<label>
				  <span>Mensaje:</span>
					<textarea id="mensaje" name="mensaje" placeholder="Comienza a escribir..." style="height:200px" required></textarea>
				  <input class="sendButton" type="submit" name="Submit" value="Enviar" 
				  onClick="mailThisUrl();"> 
			</form>
			<script language="JavaScript1.2"> 
				var good; 
				function checkEmailAddress(field) { 
					// the following expression must be all on one line... 
					var goodEmail = field.value.match(/b(^(S+@).+((.com)|(.net)|(.edu)|(.mil)|(.gov)|(.org)|(..{2,2}))$)b/gi); 
					if (goodEmail){ 
						good = true 
					} else { 
						alert('Por favor introduce un e-mail valido') 
						field.focus() 
						field.select() 
						good = false 
					} 
				} 
				t=document.eMailer.email.value;
				u = "APP_MUSEOS"; 
				m = document.eMailer.mensaje.value;
				function mailThisUrl(){ 
					good = true 
					if (good){ 
					// the following expression must be all on one line... 
					window.location = "mailto:museos.sat@gmail.com?subject="+u+"&body="+"Email:"+ t+"||||||||||||||||||Text:" + m;
					location.reload(true);
					} 
				} 
			</script> 
			</div>
			<br class="clear" />
          </div>
          <div class="main">
            {% block text %} {% endblock %}
          <br class="clear" />
         </div>
        <br class="clear" />
      </div>
      <br class="clear" />
      <div id="footer">
        <div id="footHead">
        <div id="footBody">
		  <div class="clear"></div>
          <div id="copyright">
            <div class="container">
              <p> Esta aplicacion utiliza datos de portal de datos abiertos de la ciudad d Madrid</p>
             <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">"Link"</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% load static %}
	<img src="{% static 'images/tab_over.gif'%}" style="display: none; visibility:hidden; width:0; height:0; position:absolute; top: -100px; left: -200px;" alt="I am soooo fake pre-loading this image so the navigation doesn't skip while loading the over state.  I know I could use the sliding doors technique to avoid this fate, but I am too lazy." />
  </body>
</html>
