{% extends "museum/index.html"%}

{% block text %}

    <h1> Esta es la pagina referente al museo {{museum.id}} </h1>
    <a href={{museum.url}}>{{museum.name}}</a></br>
    <p> {{museum.address}}</p>
    <p>Barrio: {{museum.barrio}}</p>
    <p>Distrito: {{museum.district}}</p>
    <p> 
    {% if museum.accessibility %}
        El museo es accesible.
    {% else %}    
        El museo no es accesible.
    {% endif %}
    </p>
    <p>{{museum.description}}</p>
    <p>{{museum.horary}}</p>
    <p>{{museum.transport}}</p>
    <p> Contacto:</p>
    <p> {{museum.number_phone}}</p>
    <p> {{museum.mail}}</p>
    {% if authenticated %}
        <form method="post" action="/">
            <input type="hidden" name="Museum" value="{{museum.name}}">
            <input type="submit" value="LIKE!">
        </form>
    {% endif %}
    {% for coment in coments %}
        {% if coment.museum == museum %}
            <hr/><p> {{coment.text}}</p></br><hr/>
        {% endif %}
    {% endfor %}
    
    {% if authenticated %}
        <form action="/coment" method="POST">
            <textarea name="comentario" rows="10" cols="40" placeholder="comentario"></textarea>
            <input type="hidden" name="id" value="{{museum.id}}">
		    <input type="submit" value="Comenta">
        </form>
    {% endif %}
{% endblock %}
    
