{% extends "museum/index.html"%}

{% block text %}
{% if owner %}
    <div class="conf">
        <div class="content">
            <form action="/{{name}}/config" method="post">
                <div>
                    <label for="size">Tamaño letra:</label>
                    <input type="number" name="size_letter" value="15" min="10" max="30" step="1">
		        </div>
		        <div>
		            <label for="color">Color Fondo:</label>  
		            <select name="color">
		                <option value=""> Por defecto</option>
		                <option value="WHITE"> WHITE</option>
		                <option value="SILVER">SILVER</option>
		                <option value="GRAY"> GRAY</option>
		                <option value="BLACK">BLACK</option>
		                <option value="RED"> RED</option>
		                <option value="MARRON"> MARRON</option>
		                <option value="YELLOW"> YELLOW</option>
		                <option value="OLIVE"> OLIVE</option>
		                <option value="LIME"> LIME</option>
		                <option value="GREEN"> GREEN</option>
		                <option value="AQUA"> AQUA</option>
		                <option value="TEAL"> TEAL</option>
		                <option value="BLUE"> BLUE</option>
		                <option value="NAVY"> NAVY</option>
		                <option value="FUCHSIA"> FUCHSIA</option>
		                <option value="PURPLE"> PURPLE</option>
		            <input type="hidden" name="option" value="config">
				    <input type="submit" value="Configurar" onclick="javascript:if(confirm('¿Quieres cambiar la configuracion, es posible que algunos elementos no se aprecien bien?'));" >
		        </div>
            </form>
            <form action="/{{name}}/config" method="post">
                <div>
                    <input type="hidden" name="option" value="name">
                    <input type="text" name="new_name" placeholder="Nuevo Nombre" required>
                    <input type="submit" value="Cambiar nombre"onclick="javascript:alert('Está cambiando el nombre de su página');" >
                </div>
            </form>
        </div>
    </div>
{% endif %}
		
<h1> {{pagina}} </h1>
    <p>
    {% if museums.length != 0 %}
        {% for museum in museums %}
            <p>
                <a href={{museum.url}}>{{museum.name}}</a></br>
                {{museum.address}} </br>
                {% for like in likes %}
                    {% if like.museum == museum %}
                        <p>Añadido el: {{like.date}}</p>
                    {% endif %}
                {% endfor %}
                <a href=/museo/{{museum.id}}>Mas info</a>
            </p>
            {% if authenticated %}
                <form method="post" action="/">
                    <input type="hidden" name="Museum" value="{{museum.name}}">
                    <input type="submit" value="LIKE!">
                </form>
            {% endif %}
            </p>
        {% endfor %}
         <p>
        {% if ifpre %}
           <form method="post" action="/{{name}}">
           <input type="hidden" name="Next" value="{{next}}">
           <input type="hidden" name="Previous" value="{{previous}}">
           <input type="hidden" name="Action" value=False>
           <input type="submit" value="Previous!!!">
        {% endif %}
         </p>
         <p>
        {% if ifnext %}
            <form method="post" action="/{{name}}">
            <input type="hidden" name="Next" value="{{next}}">
            <input type="hidden" name="Previous" value="{{previous}}">
            <input type="hidden" name="Action" value=True>
            <input type="submit" value="Next!!!">
        {% endif %} 
         </p>
              
    {% endif %}
    
{% endblock %}
